.item-product{
    color:rgba(0,0,0,0.5);
    font-size:12px;
}

.blur-element {
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    background-color: #ccc;
}

.label-m0px {
    margin-bottom: 0px !important;
}

.btn-ok-login {
    height: 100% !important;
    width: 100% !important;
}