.label-line {
    border-left: 1px solid #1213;
    padding-left: 5px;
    margin-left: 5px;
}

.card-btn-menu {
    margin-bottom: 10px;
    cursor: pointer;
}


.card-btn-menu-border {
    border-color: #ee4d2d !important;
}

/*img card upload*/

.idcard-storepic {
    width: 100%;
    height: 100w;
    border-radius: 5px;
    border:2px dotted;
    border-color: #e0dddd9e;
    position: relative;
  }
  
  .idcard-storepic img {
    height: 100%;
    width: 100%;
  }
  
  .img-camera {
    position: absolute;
    bottom: 5px;
    right: 0px;
    /* border: 1px solid; */
    border-radius: 50%;
    /* padding: 11px; */
    height: 30px !important;
    width: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: cornflowerblue;
    border-style: 1px solid;
    border-color: #f8f9fa;
  }

  .img-camera img {
      width: 60% !important;
      height: 60% !important;
      border-radius: 0px !important;
  }