.navbar-brand {
    margin-right: .5rem !important;
}
.nav-bar-border {
    /* border-radius: 0px 0px 10px 10px; */
    /* color: white !important; */
    width: 100vw !important;
    background-color: white !important;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
}

#txt-name {
    color: #D1D1D1 !important;
}

#Capa_1 {
    fill: white !important;
}

.fixed-top {
    position: fixed;
    top: 0;
    padding-top: 0 !important;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.fixed-bottom {
    position: fixed;
    min-height: 70px;
    background-color: bisque;
    border-radius: 10px 10px 0px 0px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    bottom: 0;
}

.view-cart {
    margin-bottom: 165px;
}

.button-cart {     
    background-color: Transparent !important;
    background-repeat:no-repeat !important;
    border: none !important;
    cursor:pointer;
    overflow: hidden;
    padding: 0 !important;     
}

.col-padding-r {
    padding-right: 5px !important;
}

.col-padding {
    padding: 5px !important;
}



.col-padding-l {
    padding-left: 5px !important;
}

.btn-margin-top0 {
    margin-top: 0px !important;
    display: block !important;
}

.card-title-custom {
    margin-bottom: 5px !important;
}

.btn-solid-primary {
    width: 100% !important;
    border-color: #ee4d2d !important;
    color: #fff !important;
    background: #ee4d2d !important;
    margin-top: 10px;
    white-space: nowrap;
}

.btn-solid-primary:disabled {
    opacity: 1 !important;
}

.btn-solid-secondary {
    width: 100% !important;
    border-color: #ee4d2d !important;
    color: #000 !important;
    background: none !important;
    margin-top: 10px;
    white-space: nowrap;
}

.btn-solid-secondary:disabled {
    opacity: 1 !important;
}

.card-view {
    border: 0 !important;
}

.card-padding {
    padding-right: 15px !important;
    padding-left: 15px !important;
    padding-bottom: 10px !important;
}

.card-view:hover {
    border-color: #ee4d2d !important;
}

.card-view-cart {
    margin-bottom: 10px;
}

.card-view-cart:hover {
    border-color: #ee4d2d !important;
}

.btn-position-bottom {
    width: 100%;
    position: relative;
    bottom: 10px;
    margin-right: 0px !important;
    margin-left: 0px !important;
}

.hidden {
    display: none;
}

.show {
    display: block;
}

.btn-width {
    margin-left: 5px;
}

@media screen and (min-width: 0px) and (max-width: 575px) {
    .btn-width {
        margin-top: 10px;
        margin-left: 0 !important;
        width: 100%;
    }

    .chat-popup {
        width: 100vw;
        position: fixed;
        align-items: center;
        right: 0 !important;
    }
    .chat-popup-show {
        width: 100vw;
        position: fixed;
        align-items: center;
        right: 0 !important;
    }
}

.carousel-indicators li {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px !important;
    height: 12px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(128, 122, 122) !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
}

.carousel-indicators .active {
    box-sizing: content-box;
    flex: 0 1 auto;
    width: 12px !important;
    height: 12px !important;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #1D8348 !important;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: 1;
    transition: opacity .6s ease;
}

.carousel-indicators > li, .carousel-indicators > li .active {
    border-radius: 50% !important;
}

.carousel-control-prev-icon {
    background-image: url("https://image.flaticon.com/icons/svg/860/860739.svg") !important;
}
.carousel-control-next-icon {
    background-image: url("https://image.flaticon.com/icons/svg/860/860777.svg") !important;
}

.card-promotion {
    width: 100%;
    margin-bottom: 20px;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.details-slide {
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.textNameProduct {
    font-size: 2.5vw;
    margin-bottom: 0px !important;
}

.textPrice {
    font-size: 10vw;
}

.chat-popup-show {
    display: block;
    position: fixed;
    bottom: 50px;
    right: 15px;
    z-index: 100000;
}

.chat-popup-close {
    display: none;
}

.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 0px;
    right: 0px;
    width: 80px;
}

.close-button {
    width: 100%;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    width: 280px;
}

.img-slide {
    width: 100%;
    min-height: 200px;
}

.profile-userpic {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border-style: solid;
    border-color: #e0dddd9e;
    position: relative;
  }
  
  .profile-userpic img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  
  .img-camera {
    position: absolute;
    bottom: 5px;
    right: 0px;
    /* border: 1px solid; */
    border-radius: 50%;
    /* padding: 11px; */
    height: 30px !important;
    width: 30px !important;
    display: flex !important;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: cornflowerblue;
    border-style: 1px solid;
    border-color: #f8f9fa;
  }

  .img-camera img {
      width: 60% !important;
      height: 60% !important;
      border-radius: 0px !important;
  }

  .img-menu {
      width: 30px;
      height: 30px;
      padding: 5px;
      border-radius: 5px;
  }

  .img-menu:hover {
      background-color: #acaeafd6;
  }

  .inputfile {
	width: 100%;
	height: 100%;
	opacity: 0;
	overflow: hidden;
	position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
}

.page__tabs-container {
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05);
    border-radius: .125rem;
    background: #fff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    margin-bottom: .75rem;
}

.btn-tabs {
    width: 100%;
    background-color: transparent !important;
    color: #000 !important;
    border-color: transparent !important;
    border-radius: 0px !important;
}

.btn-tabs:focus {
    outline: none !important;
    box-shadow: none !important;
}

.btn-tabs-active {
    color: #ee4d2d !important;
    border-bottom: 2px solid #ee4d2d !important;

}
.view-review {
    display: inline-block; 
}

.icon-review {
    width: 50px;
    height: 50px;
    margin: 5px;
    opacity: 0.5;
}

.icon-review:hover {
    opacity: 1 !important;
}

.img-order {
    width: 100%;
    height: auto;
}

.text-order-price {
    text-align: right;
    font-size: 30px;
    margin-bottom: 0 !important;
}

.view-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-width {
    width: 32px;
    height: 32px;
    padding: 5px;
}

.menu-width:hover {
    background-color: #d2d3d69c;
    border-radius: 5px;
}

.img-view-product {
    width: 100px;
    height: 100px;
}

.img-view-border {
    border: 1px solid #ee4d2d;
}

.card-add-img {
    border-radius: 5px;
    background-color: #d2d3d69c;
    padding: 15px;
    min-height: 100px;
}

.view-error {
    margin: 15px;
}

#promo .modal-dialog {
    margin: 2.5rem !important;
}

#promo .modal-content {
    border-radius: 20px !important;
    margin-left: 35px !important;
    margin-right: 35px !important;
    max-height: 80vh !important;
}

#promo .modal-body {
    padding: .3rem !important;
    border-radius: 20px !important;
}

.btn-close-promo {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    border-radius: 50% !important;
    padding: 0px !important;
    background-color: white !important;
    border-color: #f4f7f4 !important;
}

.btn-close-promo {
    color: black !important;
}

.contact {
    background-color: #282c34;
    border-radius: 2px;
    color: white;
    padding: 15px;
}

.content-contact {
    min-height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: #6de02d;
  }

  .footer-custom {
      background-color: #1D8348 !important;
      color: white !important;
  }

  .btn-register {
      width: 100% !important;
  }

  .text-bold {
      font-weight: bold !important;
  }

  .txt-header-sub {
    color: rgb(0, 105, 62);
    font-weight: bold;
  }

  .sme-content {
    background-color: #ffffff;
    min-height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
  }

  .banner-show {
    background-color: #e9ecef80 !important;
    border-radius: 20px !important;
  }

  .hr-dashed  {
    border: 1px dashed rgb(217, 222, 227);
  }

  .zoom {
    padding: 20px;
    transition: transform .2s; /* Animation */
    width: 100%;
    max-height: auto;
    margin: 0 auto;
    min-height: 120px;
  }
  
  .zoom:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  #login-error .modal-content, #user-alert .modal-content,#sold-out-error .modal-content {
    border-radius: 10px !important;
  }

  #logining .modal-content {
      background-color: transparent !important;
      border: 0 !important;
  }

.form_login-padding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.form_login {
    border: 1px solid #1d8348;
    border-radius: 5px !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
}

.form_input-login {
    width: 100% !important;
    background-color:  transparent !important;
    border: transparent !important;
    color: black !important;
    outline:0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
}

.form_login-sub::placeholder {
    color: black !important;
}

.btn_form-login {
    background-color: #1d8348 !important;
    border: 1px solid #1d8348 !important;
    height: 100% !important;
    border-radius: 0px 5px 5px 0px !important;
    color: white !important;
    outline: 0px !important;
    -webkit-appearance:none;
    box-shadow: none !important;
    float: right;
    white-space: nowrap;
}

.text-amount {
    font-size: 10px;
    float: right;
    margin-bottom: 0 !important;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .btn_form-login:hover {
    background-color: #1d8348 !important;
    color: white !important;
} */

@media screen and (max-width: 600px) {
    .view-btn-card {
        display: none !important;
    }
}

.text-limit-word {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.txt-sold-out {
    position: absolute;
    top: 30%;
    left: 0; 
    right: 0; 
    margin-left: 20px;
    margin-right: 20px;
    transform: rotate(-5deg);
    /* border: 1.2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center; */
}

.txt-head-sold-out {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0 !important;
    text-shadow: 2px 2px #4c49494d;
    -webkit-text-decoration-line: line-through; /* Safari */
    text-decoration-line: line-through;
    /* text-decoration-color: black;
    color: red; */
}