body {
  margin: 0;
  font-family: 'Prompt', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f15d; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.527); 
  border-radius: 15px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(85, 85, 85, 0.644); 
}

html { /* body won't work ¯\_(ツ)_/¯ */
  scroll-snap-type: y mandatory !important;
  scroll-behavior: smooth !important;
  /* height: 100vh;
  overflow-y: scroll; */
}

html section {
  height: 100vh;
  /* scroll-snap-align: start start !important; */
}
